.container {
    @apply
        flex
        flex-row
        max-w-full
        h-[30vh]
        lg:h-[30vh]
        items-center
        justify-center
        md:justify-around
        px-2
        md:gap-2

    ;
  }
  
.container>img {
  @apply
      object-cover
      p-4
      w-32
      md:w-48
      max-h-[30vh]
      rounded-3xl
  ;
}

.text-container {
  @apply
      flex
      flex-col
      lg:p-4
      max-h-full
  ;
}

.text-container>h2 {
  @apply
    font-bold
    text-sm
    md:text-xl
  ;
}

.text-container>h3 {
  @apply
    font-subheading
    text-xs
    md:text-sm
    pb-4
  ;
}

.text-container>p {
  @apply
    line-clamp-2
    font-body
    text-xs
    md:text-sm
  ;
}

.text-container>h4 {
  @apply
    text-right
    text-primary
    font-subheading
    p-2
    text-xs
    md:text-base
  ;
}

  