section {
  @apply
    flex
    flex-col
    md:flex-row
    items-center
    justify-center
    md:justify-around
    h-[80vh]
    px-8
    md:px-20
    gap-8
    lg:gap-16
  ;
}

.latest-announcements {
  @apply
  flex
  flex-col
  h-[80vh]
}

.section-header {
  @apply
    flex
    flex-col
    w-full
    items-center
    justify-center
    h-[20vh]
    px-4
  ;
}

.section-header>h3 {
  @apply
    text-xl
    font-heading
    text-white
  ;
}

.section-header>h1 {
  @apply
    text-4xl
    md:text-5xl
    lg:text-6xl
    text-white
    font-heading
    pb-4
    text-center
  ;
}

.carousel-container {
  @apply
    h-[60vh]
    pt-6
    px-0
    md:px-6
    lg:px-20
    overflow-hidden
  ;
}


.section-description {
  @apply
    w-96
    max-w-full
    lg:w-[32rem]
  ;
}

.section-description>h1 {
  @apply
    text-5xl
    lg:text-6xl
    text-primary
    font-heading
    pb-4
  ;
}

.section-description>h2 {
  @apply
    text-3xl
    md:text-4xl
    text-primary
    font-subheading
  ;
}

.section-description>p {
  @apply
    font-body
  ;
}

.section-description>p>span {
  @apply
    text-highlight
    font-bold
  ;
}

.section-description>button {
  @apply
    mt-4
    px-6
    py-3
    bg-primary
    text-white
    font-subheading
    hover:scale-[1.1]
    hover:shadow-lg
    transition-all
    duration-100
    ease-out
  ;
}

.section-graphic {
  @apply
    w-80
    lg:w-[24rem]
  ;
}
