.elections {
  @apply
    flex
    flex-col
    justify-center
    items-center
    gap-8
    mt-8
    mx-auto
    w-full
  ;
}

.faq>h1, .elections .title, .regulations>h1, .officers>h1, .roles>h1 {
  @apply
    mx-8
    md:mx-64
    text-3xl
    font-bold
    text-center
    text-primary
  ;
}
